<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="<%= url("/styles.css")%>">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  <title>Tontine Pizza Shop</title>
</head>
<body>
  <header>
    <h1>Tontine Pizza Shop</h1>
  </header>
  <nav>
    <ul>
      <li><a href="/pizzas">Home</a></li>
        <li><a href="/pizzas/new">Order a Pizza</a></li>
    </ul>
  </nav>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>
